

<!-- LADO DEL MAPA  -->
  <main class="page-content">

    <div id="map"></div>

{{!-- MENU DEL MARKER --}}
    <div class="menuev" id="menuev">
      <button type="button" class="menu-itemv btn btn-success">
        <i class="fa fa-calculator" aria-hidden="true"></i> </button>
        <button type="button" class="menu-itemv btn btn-light-blue" data-toggle="modal" data-target="#poolFireEvent">
        <i class="fa fa-edit" aria-hidden="true"></i> </button>
        <button type="button" class="menu-itemv btn btn-danger" onclick=deleteMarker()>
        <i class="fa fa-trash" aria-hidden="true"></i> </button>
    </div>


  </main>

