<!-- Modal -->
<div class="modal fade" id="tntExplosionEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <form method="POST" id="tntexplosion" action="/tnt/create">
        <div class="modal-header" style="background-color: #fbc02c">
          <h5 class="modal-title" id="modalEventNameTnt">
            <div class="md-form form-sm">
              <input type="text" id="eventName" name="eventName" class="form-control form-control-sm">
              <label for="inputSMEx" style="color:black">Event name</label>
            </div>
            {{!-- Nombre de la sustancia en el modal --}}
            <label id="name-chemTnt"></label>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" id="myTabTnt" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tabTnt" data-toggle="tab" href="#homeTnt" role="tab" aria-controls="home"
                aria-selected="true">Chemical</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tabTnt" data-toggle="tab" href="#contactTnt" role="tab" aria-controls="contact"
                aria-selected="false">Source</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settingsTNT" role="tab" aria-controls="contact"
                aria-selected="false"><i class="fa fa-cog" aria-hidden="true"></i></a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContentTnt">

            {{!-- CHEMICAL --}}
            <div class="tab-pane fade show active" id="homeTnt" role="tabpanel" aria-labelledby="home-tab">
              <div class="table">
                <table id="data-tableTntExplosion" class="table table-hover" width="100%"></table>
              </div>
            </div>
            <input id="subsName" name="subsName" type="hidden">
            <input id="hckjkg" name="hckjkg" type="hidden">

            {{!-- SOURCE --}}

            <div class="tab-pane fade" id="contactTnt" role="tabpanel" aria-labelledby="contact-tab">
              <hr>
              <div class="container">

                <div class="row justify-content-center mt-2">
                  <label class="col-6 text-center" for="">Mass release</label>
                  <input id="massRelease" name="massRelease" class="form-control col-3 text-center" type="text" placeholder="">
                  <select id="peso" name="peso" class="browser-default custom-select col-3">
                    <option value="kg">kg</option>
                    <option value="lb">lb</option>
                    <option value="m3">m3</option>
                  </select>
                </div>
                <div class="row justify-content-center mt-2">
                  <label class="col-6 text-center" for="">Energy fraction (0.01 - 0.1)</label>
                  <input id="energyFraction" name="energyFraction" class="form-control col-3 text-center" type="text" placeholder="">
                </div>
              </div>
              <hr>
              {{!-- BOTON ADICIONA PUNTO MARKER EN EL MAPA --}}
              <div class="container">
                <div class="row justify-content-md-center">
                  <div class="col-12 col-md-auto">
                    <button id="tntSubmit" type="submit" class="btn btn-light-blue" >
                      Calc
                    </button>
                  </div>
                </div>
              </div>
            </div>
            {{!-- SETTINGS --}}
            <div class="tab-pane fade container " id="settingsTNT" role="tabpanel" aria-labelledby="profile-tab">
              <div class="row justify-content-center mt-2">
                <label class="col-6 text-center" for="">Overpressure 1</label>
                <input id="overPressure01" name="overPressure01" class="form-control col-3 text-center" type="text" placeholder="" value="55.16">
                <select id="sel01-valTNT" name="sel01-valTNT" class="browser-default custom-select col-3">
                  <option value="psi">kPa</option>
                  <option value="atm">psi</option>
                </select>
              </div>
              <div class="row justify-content-center mt-2">
                <label class="col-6 text-center" for="">Overpressure 2</label>
                <input id="overPressure02" name="overPressure02" class="form-control col-3 text-center" type="text" placeholder="" value="6.89">
                <select id="sel02-valTNT" name="sel02-valTNT" class="browser-default custom-select col-3">
                  <option value="psi">kPa</option>
                  <option value="atm">psi</option>
                </select>
              </div>
              <div class="row justify-content-center mt-2">
                <label class="col-6 text-center" for="">Overpressure 3</label>
                <input id="overPressure03" name="overPressure03" class="form-control col-3 text-center" type="text" placeholder="" value="3.45">
                <select id="sel03-valTNT" name="sel03-valTNT" class="browser-default custom-select col-3">
                  <option value="psi">kPa</option>
                  <option value="atm">psi</option>
                </select>
              </div>
            </div>
          </div>
        </div>
          {{!-- COORDINATES --}}
          <input id="latTnt" name="latTnt" type="hidden">
          <input id="lngTnt" name="lngTnt" type="hidden">
      </form>
    </div>
  </div>
</div>