<!-- Modal -->
<div class="modal fade" id="newEventModalPr" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <form action="">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEventName">
            <div class="md-form form-sm">
              <input type="text" id="inputSMEx" class="form-control form-control-sm">
              <label for="inputSMEx">Event name</label>
            </div>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Chemical</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">Atmospheric</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                aria-selected="false">Source</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">

            {{!-- CHEMICAL --}}
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

              <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="th-sm">Name
                      <i class="fa fa-sort float-right" aria-hidden="true"></i>
                    </th>
                    <th class="th-sm">CAS
                      <i class="fa fa-sort float-right" aria-hidden="true"></i>
                    </th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>

                  </tr>
                  <tr>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>

                  </tr>
                  <tr>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>

                  </tr>
                  <tr>
                    <td>Cedric Kelly</td>
                    <td>Senior Javascript Developer</td>

                  </tr>
                  <tr>
                    <td>Airi Satou</td>
                    <td>Accountant</td>

                  </tr>
                  <tr>
                    <td>Brielle Williamson</td>
                    <td>Integration Specialist</td>

                  </tr>
                  <tr>
                    <td>Herrod Chandler</td>
                    <td>Sales Assistant</td>

                  </tr>

              </table>

            </div>

            {{!-- ATMOSPHERIC --}}
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div  class="row">
                <input class="form-control col-sm-6 text-right" type="text" placeholder="Medium input">
                <select class="browser-default custom-select col-sm-6">
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>

            </div>

            {{!-- SOURCE --}}
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Etsy mixtape
              wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi
              farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore
              carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit
              cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro
              mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown.
              Pitchfork sustainable tofu synth chambray yr.</div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">NEXT</button>
      </form>

    </div>
  </div>
</div>
</div>