<!-- Modal -->
<div class="modal fade" id="poolFireEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <form method="POST" id="poolFireExplosion" action="/poolFire/create">
        <div class="modal-header" style="background-color: #82b1ff">
          <h4 class="modal-title" id="modalEventName">
            <div class="md-form form-sm">
              <input type="text" id="pfName" name="pfName" class="form-control form-control-sm">
              <label for="inputSMEx" style="color:black">Event name</label>
            </div>
            {{!-- SUBSTANCE --}}
            <label id="name-chemPoolFire"></label>

          </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Chemical</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">Atmospheric</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                aria-selected="false">Source</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="contact"
                aria-selected="false"><i class="fa fa-cog" aria-hidden="true"></i></a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">

            {{!-- CHEMICAL --}}
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

              <div class="table">
                <table id="data-tablePoolFire" class="table table-hover" width="100%"></table>
              </div>
              <input id="pfSubstance" name="pfSubstance" type="hidden">
              <input id="pfHva" name="pfHva" type="hidden">
              <input id="pfHvn" name="pfHvn" type="hidden">
              <input id="pfTc" name="pfTc" type="hidden">
              <input id="pfMw" name="pfMw" type="hidden">
              <input id="pfHckjkg" name="pfHckjkg" type="hidden">
              <input id="pfTb" name="pfTb" type="hidden">
              <input id="pfCpla" name="pfCpla" type="hidden">
              <input id="pfCplb" name="pfCplb" type="hidden">
              <input id="pfCplc" name="pfCplc" type="hidden">
              <input id="pfCpld" name="pfCpld" type="hidden">
              <input id="pfDliqa" name="pfDliqa" type="hidden">
              <input id="pfDliqb" name="pfDliqb" type="hidden">
              <input id="pfDliqn" name="pfDliqn" type="hidden">

            </div>

            {{!-- ATMOSPHERIC --}}
            <div class="tab-pane fade container " id="profile" role="tabpanel" aria-labelledby="profile-tab">

              <div class="row justify-content-center mt-2">
                <label class="col-6 text-center" for="">Wind velocity</label>
                <input id="windVelocity" name="windVelocity" class="form-control col-3 text-center" type="text"
                  placeholder="" value="1.5">
                <select id="unityVelocity" name="unityVelocity" class="browser-default custom-select col-3">
                  <option value="1">m/s</option>
                  <option value="2">km/h</option>
                  <option value="3">mph</option>
                </select>
              </div>
              <div class="row justify-content-center mt-2">
                <label class="col-6 text-center" for="">Air Temperature</label>
                <input id="airTemp" name="airTemp" class="form-control col-3 text-center" type="text" placeholder=""
                  value="25">
                <select id="unityTemp" name="unityTemp" class="browser-default custom-select col-3">
                  <option value="1">C</option>
                  <option value="2">K</option>
                  <option value="3">F</option>
                </select>
              </div>
              <div class="row justify-content-center mt-2">
                <label class="col-6 text-center" for="">Humidity (%)</label>
                <input id="humidity" name="humidity" class="form-control col-3 text-center" type="text" placeholder=""
                  value="50">
                <select id="unityHumidity" name="unityHumidity" class="browser-default custom-select col-3">
                  <option value="1">%</option>
                </select>
              </div>
              <div class="row justify-content-center mt-2">
                <label class="col-6 text-center" for="">Altitude (msnm)</label>
                <input id="altitude" name="altitude" class="form-control col-3 text-center" type="text" placeholder=""
                  value="0">
                <select id="unityAltitude" name="unityAltitude" class="browser-default custom-select col-3">
                  <option value="1">msnm</option>
                </select>
              </div>

            </div>

            {{!-- SOURCE --}}
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
              <hr>
              <h5>Type of Leak </h5>
              <!-- Default inline 1-->
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="continuosLeak" value="1" name="typeLeak" checked>
                <label class="custom-control-label" for="continuosLeak">Continuos leak</label>
              </div>

              <!-- Default inline 2-->
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="massiveLeak" value="2" name="typeLeak">
                <label class="custom-control-label" for="massiveLeak">Massive leak</label>
              </div>

              <!-- Default inline 3-->
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="circularDike" value="3" name="typeLeak">
                <label class="custom-control-label" for="circularDike">Circular dike</label>
              </div>

              <!-- Default inline 4-->
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="noCircularDike" value="4" name="typeLeak">
                <label class="custom-control-label" for="noCircularDike">No Circular dike</label>
              </div>
              <hr>
              {{!-- LEAK TYPE --}}
              <div class="container">
                <div id="continuosLakeDiv" class="row justify-content-center mt-2">
                  <label class="col-3 text-center" for="">Flow</label>
                  <input id="flow" name="flow" class="form-control col-3 text-center" type="text" placeholder="" value="0.01">
                  <select id="unityFlow" name="unityFlow" class="browser-default custom-select col-3">
                    <option value="1">m3/s</option>
                    <option value="2">kg/s</option>
                    <option value="3">l/s</option>
                  </select>
                </div>
                <div id="massiveLeakDiv" class="row justify-content-center mt-2">
                  <label class="col-3 text-center" for="">Mass release</label>
                  <input id="massRelease" name="massRelease" class="form-control col-3 text-center" type="text"
                    placeholder="" value="1">
                  <select id="unityRelease" name="unityRelease" class="browser-default custom-select col-3">
                    <option value="1">m3</option>
                    <option value="2">l</option>
                    <option value="3">kg</option>
                  </select>
                </div>
                <div id="circularDikekDiv" class="row justify-content-center mt-2">
                  <label class="col-3 text-center" for="">Diameter</label>
                  <input id="diameterCircularDike" name="diameterCircularDike" class="form-control col-3 text-center"
                    type="text" placeholder="" value="10" <select class="browser-default custom-select col-3">
                  <option value="1">m</option>
                  </select>
                </div>
                <div id="noCircularDikekDiv" class="row justify-content-center mt-2">
                  <label class="col-4 text-center" for="">Height</label>
                  <input id="heightCircularDike" name="heightCircularDike" class="form-control col-3 text-center" type="text"
                    placeholder="" value="10">
                  <select class="browser-default custom-select col-3">
                    <option value="1">m</option>
                  </select>
                  <hr>
                  <label class="col-4 text-center" for="">Width</label>
                  <input id="widthCircularDike" name="widthCircularDike" class="form-control col-3 text-center" type="text"
                    placeholder="" value="10">
                  <select class="browser-default custom-select col-3">
                    <option value="1">m</option>
                  </select>
                </div>
              </div>
              <hr>
              <div class="container">
                <h5>Burning Rate Method </h5>
                <!-- Default inline 1-->
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" value="1" class="custom-control-input" id="strasser" name="burningRateMethod"
                    checked>
                  <label class="custom-control-label" for="strasser">Strasser</label>
                </div>

                <!-- Default inline 2-->
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" value="2" class="custom-control-input" id="mudan" name="burningRateMethod">
                  <label class="custom-control-label" for="mudan">Mudan</label>
                </div>
                <hr>

                <h5>Flame Height Method </h5>
                <!-- Default inline 1-->
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" value="1" class="custom-control-input" id="thomas" name="flameHeightMethod"
                    checked>
                  <label class="custom-control-label" for="thomas">Thomas</label>
                </div>

                <!-- Default inline 2-->
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" value="2" class="custom-control-input" id="pritchard" name="flameHeightMethod">
                  <label class="custom-control-label" for="pritchard">Pritchard</label>
                </div>
                <hr>

                <h5>Calculation Method </h5>
                <!-- Default inline 1-->
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" value="1" class="custom-control-input" id="pointSource" name="calculationMethod"
                    checked>
                  <label class="custom-control-label" for="pointSource">Point Source</label>
                </div>

                <!-- Default inline 2-->
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" value="2" class="custom-control-input" id="solidSource" name="calculationMethod">
                  <label class="custom-control-label" for="solidSource">Solid Plume</label>
                </div>
              </div>
              <hr>
              {{!-- BUTTON SUBMIT --}}
              <div class="container">
                <div class="row justify-content-md-center">
                  <div class="col-12 col-md-auto">
                    <button id="poolFireSubmit" type="submit" class="btn btn-light-blue">
                      Calc
                    </button>
                  </div>
                </div>
              </div>
            </div>

            {{!-- SETTINGS --}}
            <div class="tab-pane fade container " id="settings" role="tabpanel" aria-labelledby="profile-tab">
              <div class="row justify-content-center mt-2">
                <label class="col-6 text-center" for="">Radiation 1</label>
                <input id="pfRad01" name="pfRad01" class="form-control col-3 text-center" type="text" placeholder=""
                  value="10">
                <select class="browser-default custom-select col-3">
                  <option value="1">kW/m2</option>
                  <option value="2">BTU/ft2</option>
                </select>
              </div>
              <div class="row justify-content-center mt-2">
                <label class="col-6 text-center" for="">Radiation 2</label>
                <input id="pfRad02" name="pfRad02" class="form-control col-3 text-center" type="text" placeholder=""
                  value="5">
                <select class="browser-default custom-select col-3">
                  <option value="1">kW/m2</option>
                  <option value="2">BTU/ft2</option>
                </select>
              </div>
              <div class="row justify-content-center mt-2">
                <label class="col-6 text-center" for="">Radiation 3</label>
                <input id="pfRad03" name="pfRad03" class="form-control col-3 text-center" type="text" placeholder=""
                  value="1.4">
                <select class="browser-default custom-select col-3">
                  <option value="1">kW/m2</option>
                  <option value="2">BTU/ft2</option>
                </select>
              </div>
              <div class="row justify-content-center mt-2">
                <label class="col-6 text-center" for="">Time exposition</label>
                <input id="timeExposition" name="timeExposition" class="form-control col-3 text-center" type="text"
                  placeholder="" value="10">
                <select class="browser-default custom-select col-3">
                  <option value="1">seg</option>
                </select>
              </div>
            </div>

          </div>

        </div>

        {{!-- COORDINATES --}}
        <input id="pfLatPF" name="pfLatPF" type="hidden">
        <input id="pfLngPF" name="pfLngPF" type="hidden">
      </form>

    </div>
  </div>
</div>