<!-- Modal -->
<div class="modal fade" id="fireBallEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <form action="">
        <div class="modal-header" style="background-color: #ff7043">
          <h5 class="modal-title" id="modalEventNameFB">
            <div class="md-form form-sm">
              <input type="text" id="inputSMExFB" name="eventNameFB" class="form-control form-control-sm">
              <label for="inputSMEx" style="color:black">Event name</label>
            </div>
            {{!-- Nombre de la sustancia en el modal --}}
            <label id="name-chemFireBall"></label>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" id="myTabFB" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tabFB" data-toggle="tab" href="#homeFB" role="tab" aria-controls="home"
                aria-selected="true">Chemical</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tabFB" data-toggle="tab" href="#profileFB" role="tab" aria-controls="profile"
                aria-selected="false">Atmospheric</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tabFB" data-toggle="tab" href="#contactFB" role="tab" aria-controls="contact"
                aria-selected="false">Source</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settingsFB" role="tab" aria-controls="contact"
                aria-selected="false"><i class="fa fa-cog" aria-hidden="true"></i></a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContentFB">

            {{!-- CHEMICAL --}}
            <div class="tab-pane fade show active" id="homeFB" role="tabpanel" aria-labelledby="home-tab">
              <div class="table">
                <table id="data-tableFireBall" class="table table-hover" width="100%"></table>
              </div>
              <input id="nameChemFB" name="nameChemFB" type="hidden">
              <input id="hckjkgChemFB" name="hckjkgChemFB" type="hidden">
            </div>

            {{!-- ATMOSPHERIC --}}
            <div class="tab-pane fade container " id="profileFB" role="tabpanel" aria-labelledby="profile-tab">

              <div class="row justify-content-center mt-2">
                <label class="col-6 text-center" for="">Air Temperature</label>
                <input id="air-temp-fireball" name="airTempFB" class="form-control col-3 text-center" type="text" placeholder="" value="25">
                <select class="browser-default custom-select col-3">
                  <option value="1">C</option>
                  <option value="2">K</option>
                  <option value="3">F</option>
                </select>
              </div>
              <div class="row justify-content-center mt-2">
                <label class="col-6 text-center" for="">Humidity (%)</label>
                <input id="humidity-fireball" name="humidityFB" class="form-control col-3 text-center" type="text" placeholder="" value="50">
                <select class="browser-default custom-select col-3">
                  <option value="1">%</option>
                </select>
              </div>
              <div class="row justify-content-center mt-2">
                <label class="col-6 text-center" for="">Altitude (msnm)</label>
                <input id="altitude-fireball" name="altitudeFB" class="form-control col-3 text-center" type="text" placeholder="" value="0">
                <select class="browser-default custom-select col-3">
                  <option value="1">msnm</option>
                </select>
              </div>

            </div>

            {{!-- SOURCE --}}
            <div class="tab-pane fade" id="contactFB" role="tabpanel" aria-labelledby="contact-tab">
              <hr>
              <div class="row justify-content-center mt-2">
                <label class="col-6 text-center" for="">Mass release</label>
                <input id="mass-re-fb" name="massReleaseFB" class="form-control col-3 text-center" type="text" placeholder="">
                <select class="browser-default custom-select col-3">
                  <option value="1">kg</option>
                  <option value="2">lb</option>
                  <option value="3">m3</option>
                </select>
              </div>
              <div class="row justify-content-center mt-2">
                <label class="col-6 text-center" for="">Radiation fraction (0.2 to 0.4)</label>
                <input id="rad-fraction" name="radiationFracFB" class="form-control col-3 text-center" type="text" placeholder="">
              </div>
              <hr>
              {{!-- BOTON ADICIONA PUNTO MARKER EN EL MAPA --}}
              <div class="container">
                <div class="row justify-content-md-center">
                  <div class="col-12 col-md-auto">
                    <button type="button" class="btn btn-light-blue" data-toggle="modal" onclick=addEvent($('#inputSMExFB').val())
                      data-dismiss="modal">
                      Add Point
                    </button>
                  </div>
                </div>
              </div>
            </div>
            {{!-- SETTINGS --}}
            <div class="tab-pane fade container " id="settingsFB" role="tabpanel" aria-labelledby="profile-tab">
              <div class="row justify-content-center mt-2">
                <label class="col-6 text-center" for="">Radiation 1</label>
                <input id="rad01-valFB" name="rad01FB" class="form-control col-3 text-center" type="text" placeholder="" value="10">
                <select onchange="this.form.submit()" class="browser-default custom-select col-3">
                  <option value="1">kW/m2</option>
                  <option value="2">BTU/ft2</option>
                </select>
              </div>
              <div class="row justify-content-center mt-2">
                <label class="col-6 text-center" for="">Radiation 2</label>
                <input id="rad02-valFB" name="rad02FB" class="form-control col-3 text-center" type="text" placeholder="" value="5">
                <select onchange="this.form.submit()" class="browser-default custom-select col-3">
                  <option value="1">kW/m2</option>
                  <option value="2">BTU/ft2</option>
                </select>
              </div>
              <div class="row justify-content-center mt-2">
                <label class="col-6 text-center" for="">Radiation 3</label>
                <input id="rad03-valFB" name="rad03FB" class="form-control col-3 text-center" type="text" placeholder="" value="1.4">
                <select onchange="this.form.submit()" class="browser-default custom-select col-3">
                  <option value="1">kW/m2</option>
                  <option value="2">BTU/ft2</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>