{{> sideNavPartial}}

{{!-- ESTE ES EL LADO DEL MAPA --}}
<div id="main" class="main">
    <nav id="navBar" class="uk-navbar">
        <ul class="uk-navbar-nav">
            {{!-- <li class="uk-active" onclick="openNav()"><a href="">&#9776</a></li> --}}
            <li><a href="/">User Name: Fulanito de tal</a></li>
            <li><a href="df">Settings</a></li>
        </ul>
    </nav>

    <div>
        {{>mapsPartial}}
    </div>

</div>