<div class="card card-image rounded mx-auto d-block" style="background-image: url(./images/background.jpg);">
  <div class="text-white text-center py-5 px-4 my-5">
    <div>
      <div class="view">
        <div class="mask flex-center waves-effect waves-light rgba-teal-strong">
          <p class="white-text">strong overlay</p>
        </div>
      </div>
      <h1 class="card-title h1-responsive pt-3 mb-5 font-bold"> <img src="./images/logo.png" class="img-fluid" alt="placeholder">
        <strong>Risk App</strong></h1>
      <p class="mx-5 mb-5">
        <h2>Risk Analysis online</h2>
      </p>
      <hr>
      <a class="btn btn-outline-white btn-md" href="home"><i class="fa fa-user left"></i> Login</a>
      <a class="btn btn-outline-white btn-md" href="/auth/register"><i class="fa fa-user-plus" aria-hidden="true"></i></i>
        Register</a>

    </div>
  </div>
</div>
<hr>
<div class="card card-image rounded mx-auto d-block" style="background-image: url(./images/background.jpg);">
  <div class="text-white text-center py-5 px-4 my-5">

    <h1 class="card-title h1-responsive pt-3 mb-5 font-bold">
      <strong>Simulation models</strong></h1>
    <div class="container">
      <div class="row">

        <!-- Card EXPLOSION-->
        <div class="card col-sm mr-3">

          <!-- Card image -->
          <img class="card-img-top" src="./images/explosion.jpeg" alt="Card image cap">

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class="card-title text-default"><a>Explosion Models</a></h4>
            <!-- Text -->
            <p class="card-text">You can calculate consequences of explosions due to gas leaks L.P. or natural gas or
              other 80 flammable gases. </p>
          </div>

        </div>
        <!-- Card -->

        <!-- Card POOLFIRE-->
        <div class="card col-sm mr-3">

          <!-- Card image -->
          <img class="card-img-top" src="./images/pfire.jpeg" alt="Card image cap">

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class="card-title text-default"><a>Pool Fire Models</a></h4>
            <!-- Text -->
            <p class="card-text">You can calculate consequences for spills of flammable liquids like gasoline or diesel
              in a Service Station, or use the database to choose between more than 300 flammable liquids.</p>

          </div>

        </div>
        <!-- Card -->

        <!-- Card FIREBALL -->
        <div class="card col-sm">

          <!-- Card image -->
          <img class="card-img-top" src="./images/fball.jpg" alt="Card image cap">

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class="card-title text-default"><a>Fire Ball Models</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>

        </div>
        <!-- Card -->
      </div>
    </div>
  </div>
</div>

<hr>
<div class="card card-image rounded mx-auto d-block" style="background-image: url(./images/background.jpg);">
  <div class="text-white text-center py-5 px-4 my-5">

    <h1 class="card-title h1-responsive pt-3 mb-5 font-bold">
      <strong>Who is it for?</strong></h1>
    <div class="container">
      <div class="row">

        <!-- Card PCIVIL-->
        <div class="card col-sm mr-3">

          <!-- Card image -->
          <img class="card-img-top" src="./images/mexi.jpeg" width="20px" height="180px" alt="Card image cap">

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class="card-title text-default"><a>Governments</a></h4>
            <!-- Text -->
            <p class="card-text">Civil protection, ASEA, SEMARNAT, to assess environmental risks and develop public
              policies for the hydrocarbons industry and other high-risk industries. </p>
          </div>

        </div>
        <!-- Card -->

        <!-- Card POOLFIRE-->
        <div class="card col-sm mr-3">

          <!-- Card image -->
          <img class="card-img-top" src="./images/consultants.jpg" alt="Card image cap">

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class="card-title text-default"><a>Consultants</a></h4>
            <!-- Text -->
            <p class="card-text">Its use is focused on developing risks analysis for new projects and establishing
              design bases that allow reducing the consequences of an event</p>
          </div>

        </div>
        <!-- Card -->

        <!-- Card FIREBALL -->
        <div class="card col-sm">

          <!-- Card image -->
          <img class="card-img-top" src="./images/safetyman.jpg" alt="Card image cap">

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class="card-title text-default"><a>
                Security managers in industries</a></h4>
            <!-- Text -->
            <p class="card-text">To develop accident prevention programs and establish internal guidelines for the handling and storage of dangerous substances.</p>
          </div>
        </div>
        <!-- Card -->
      </div>
    </div>
  </div>
</div>