<header>
    <h1>Risk App</h1>
    <h3>By VeCruz Company</h3>
</header>
<form class="login" action="/auth/login" method="post">
    <div class="group">
        <input type="email" name="email"><span class="highlight"></span><span class="bar"></span>
        <label>Email</label>
    </div>
    <div class="group">
        <input type="password" name="password"><span class="highlight"></span><span class="bar"></span>
        <label>Password</label>
    </div>
    <button type="submit" class="button buttonBlue">Login
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
</form>

<div class="center">
    <p class="error">
        {{err}}
    </p>
</div>