<form action="/auth/register" method="post">
    <div>
        <label for="">
            Username:
            <input type="username" name="username">
        </label>
    </div>
    <div>
        <label for="">
            Email:
            <input type="email" name="email">
        </label>
    </div>
    <div>
        <label for="">
            Password
            <input type="password" name="password">
        </label>
    </div>
    <div>
        <label for="">
            Confirm Password
            <input type="password" name="password-confirm">
        </label>
    </div>
    <button type="submit">Register</button>
</form>

<p style="color: red">
    {{err}}
</p>