<header>
    <h1>Risk App</h1>
    <h3>Register</h3>
</header>
<form class="login" action="/auth/register" method="post">
    <div class="group">
        <input type="username" name="username"><span class="highlight"></span><span class="bar"></span>
        <label>Username</label>
    </div>
    <div class="group">
        <input type="email" name="email"><span class="highlight"></span><span class="bar"></span>
        <label>Email</label>
    </div>
    <div class="group">
        <input type="password" name="password"><span class="highlight"></span><span class="bar"></span>
        <label>Password</label>
    </div>
    <div class="group">
        <input type="password" name="password-confirm"><span class="highlight"></span><span class="bar"></span>
        <label>Confirm Password</label>
    </div>
    <button type="submit" class="button buttonBlue">Register
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
</form>

<div class="center">
    <p class="error">
        {{err}}
    </p>
</div>